.rowform
  = f.label :email, "Email Address:"
  = required
  = f.text_field :email
.rowform
  = f.label :password, "Password:"
  = required
  = f.password_field :password
.rowform
  = f.label :password_confirmation, "Confirm Password:"
  = required
  = f.password_field :password_confirmation
