.rowform
  = f.label :email, "Email Address:"
  = f.text_field :email
  = required
.rowform
  = f.label :password, "Password:"
  = f.password_field :password
  = required
.rowform
  = f.label :password_confirmation, "Confirm Password:"
  = f.password_field :password_confirmation
  = required
