.control-group
  = f.label :email, "Email Address", class: "control-label"
  .controls
    = required
    - if @aaf_credentials[:mail].present?
      = f.text_field :email, value: @aaf_credentials[:mail], disabled:true
      = f.hidden_field :email, value: @aaf_credentials[:mail]
    - else
      = f.text_field :email

.control-group
  = f.label :password, "Password", class: "control-label"
  .controls
    = required
    = f.password_field :password

.control-group
  = f.label :password_confirmation, "Confirm Password", class: "control-label"
  .controls
    = required
    = f.password_field :password_confirmation
