.control-group
  = f.label :first_name , "First Name", class: "control-label"
  .controls
    = required
    - if @aaf_first_name.present?
      = f.text_field :first_name, value: @aaf_first_name, disabled:true
      = f.hidden_field :first_name, value: @aaf_first_name
    - else
      = f.text_field :first_name

.control-group
  = f.label :last_name, "Last Name", class: "control-label"
  .controls
    = required
    - if @aaf_last_name.present?
      = f.text_field :last_name, value: @aaf_last_name, disabled:true
      = f.hidden_field :last_name, value: @aaf_last_name
    - else
      = f.text_field :last_name
