.control-group
  = f.label :first_name , "First Name", class: "control-label"
  .controls
    = required
    - if @aaf_credentials[:displayname].present?
      = f.text_field :first_name, value: @aaf_credentials[:displayname], disabled:true
      = f.hidden_field :first_name, value: @aaf_credentials[:displayname]
    - else
      = f.text_field :first_name

.control-group
  = f.label :last_name, "Last Name", class: "control-label"
  .controls
    = required
    - if @aaf_credentials[:surname].present?
      = f.text_field :last_name, value: @aaf_credentials[:surname], disabled:true
      = f.hidden_field :last_name, value: @aaf_credentials[:surname]
    - else
      = f.text_field :last_name
