- content_for :breadcrumb  do
  #{@user.email} / Change Password

= render 'user_registers/contentnavigation'
.container
  = form_for(resource, :as => resource_name, :url => users_update_password_path, :html => { :method => :put }) do |f|
    = render "shared/error_messages", :target => @user
    %h2 Change User Password
    .control-group
      = f.label :current_password, "Current password:", :class => "control-label"
      .controls
        = required
        = f.password_field :current_password
        %p.details We need your current password for confirmation
    .control-group
      = f.label :password, "New password:", :class => "control-label"
      .controls
        = required
        = f.password_field :password
    .control-group
      = f.label :password_confirmation, "Confirm new password:", :class => "control-label"
      .controls
        = required
        = f.password_field :password_confirmation

    .form-actions
      .actions-pre
        = cancel_button 'Cancel', users_profile_path
      .actions
        = f.submit "Update"
