-# - content_for :breadcrumb  do
-#   %h1 Sign Up

.container
  %h2 User Sign Up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = render "shared/error_messages", :target => @user
    = render :partial => 'personal_details', :locals  => {:f => f}
    = render :partial => 'account_details', :locals  => {:f => f}
    .form-actions
      .actions-pre
        = cancel_button 'Cancel', root_path
      .actions
        = f.submit "Submit Request", :class => ""
