-# - content_for :breadcrumb  do
-#   %h1 Sign Up

- if @aaf_credentials[:mail].present?
  .container
    .control-group
      .controls
        %small
          You are logged in via AAF as
          %strong #{@aaf_credentials[:mail]}
          \.
          %br
          %br
        = link_to "â† Sign out", aaf_destroy_user_session_path, :class => "btn aaf"
.container
  %h2 User Sign Up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = render "shared/error_messages", :target => @user
    = render :partial => 'personal_details', :locals  => {:f => f}
    = render :partial => 'account_details', :locals  => {:f => f}
    .form-actions
      .actions-pre
        = cancel_button 'Cancel', new_user_session_path
      .actions
        = f.submit "Submit Request", :class => ""
