- content_for :breadcrumb  do
  %h1 #{@user.email} / Overview

= render 'user_registers/contentnavigation'
.container
  = render_field "User Name", current_user.email
  = render_field "First Name", current_user.first_name
  = render_field "Last Name", current_user.last_name
