- content_for :breadcrumb  do
  %h1 #{@user.email} / Overview

= render 'user_registers/contentnavigation'
.container
  = render_field "User Name", current_user.email
  = render_field "First Name", current_user.first_name
  = render_field "Last Name", current_user.last_name
  = render_field_with_block "API Token", do
    - if current_user.authentication_token.blank?
      No token generated - click generate to get a token
      %br/
      = link_to 'Generate Token', users_generate_token_path, :class => 'bluebutton', :method => :put
    - else
      = current_user.authentication_token
      %br/
      = link_to 'Re-generate Token', users_generate_token_path, :class => 'bluebutton', :method => :put, :confirm => 'Are you sure you want to regenerate your token? You will need to update any scripts that used the previous token.'
      = link_to 'Delete Token', users_delete_token_path, :class => 'bluebutton', :method => :delete, :confirm => 'Are you sure you want to delete your token? You will no longer be able to perform API actions.'
