- content_for :breadcrumb  do
  %h1 #{@user.email} / Overview

= render 'user_registers/contentnavigation'
.container
  %h2 User Details
  = render_field "User Name", breaking_word_wrap(current_user.email, 60)
  = render_field "First Name", breaking_word_wrap(current_user.first_name, 60)
  = render_field "Last Name", breaking_word_wrap(current_user.last_name, 60)
  = render_field_with_block "API Token" do
    - if current_user.authentication_token.blank?
      No token generated - click generate to get a token
      %br/
      = link_to 'Generate Token', users_generate_token_path, :class => 'btn btn-primary', :method => :put
    - else

      %span{:title => current_user.authentication_token}= current_user.authentication_token


      %br/
      = link_to 'Re-generate Token', users_generate_token_path, :class => 'btn btn-primary', :method => :put, :confirm => 'Are you sure you want to regenerate your token? You will need to update any scripts that used the previous token.'
      = link_to 'Delete Token', users_delete_token_path, :class => 'btn btn-danger', :method => :delete, :confirm => 'Are you sure you want to delete your token? You will no longer be able to perform API actions.'
