- content_for :breadcrumb do
  %h1 Admin / System Configuration

.form-actions
  .actions-pre
    = cancel_button "Back", :back
  .actions
    = link_to 'Edit System Configuration', edit_admin_config_path, :class => 'btn btn-primary'

.container
  %h2
    = @config.name 
    System Configuration
  = render_field "System Name", @config.name
  = render_field "Org. L1 Singluar", @config.level1
  = render_field "Org. L1 Plural", @config.level1_plural
  = render_field "Org. L2 Singluar", @config.level2
  = render_field "Org. L2 Plural", @config.level2_plural
