= form_for [@facility, @experiment, @experiment_parameter] do |f|
  = render 'shared/error_messages', target: @experiment_parameter

  %h2 New Paramater
  .control-group
    = label_tag :parameter_category_select, "Category", class: "control-label"
    .controls
      = required
      %span.input
        = f.collection_select :parameter_category_id, parameter_categories, :id, :name, {:prompt => "Please select a category"}, {:id => :parameter_category_select}

  .control-group
    = label_tag :parameter_sub_category_select, "Subcategory", class: "control-label"
    .controls
      = required
      %span.input
        = f.select :parameter_sub_category_id, option_groups_from_collection_for_select(parameter_categories, :parameter_sub_categories, :name, :id, :name, @experiment_parameter.parameter_sub_category_id), {:prompt => "Please select a category first"}, {:id => :parameter_sub_category_select}

  .control-group
    = f.label :parameter_modification_id, "Modification", class: "control-label"
    .controls
      = required
      %span.input
        = f.collection_select :parameter_modification_id, parameter_modifications, :id, :name, {:prompt => "Please select"}

  .control-group
    = f.label :amount, class: "control-label"
    .controls
      = f.text_field :amount, :size => 20, :maxlength => 30

  .control-group
    = f.label :parameter_unit_id, "Units", class: "control-label"
    .controls
      %span.input
        = f.collection_select :parameter_unit_id, parameter_units, :id, :name, {:prompt => "Please select"}

  .control-group
    = f.label :comments, class: "control-label"
    .controls
      = f.text_field :comments, :size => 30, :maxlength => 255

  .form-actions
    .actions-pre
      = cancel_button('Cancel', facility_experiment_path(@facility, @experiment))
    .actions
      = f.submit 'Save'
