.datacontroll
  .parameters.btn
    = link_to "New Parameter", new_facility_experiment_experiment_parameter_path(facility, experiment)

- if experiment.experiment_parameters.empty?
  There are no parameters to display
- else
  %table#experiment_parameters
    %thead
      %tr
        %th Category
        %th Subcategory
        %th Modification
        %th Amount
        %th Units
        %th Comments
        %th Actions
    %tbody
      - experiment.experiment_parameters.in_order.each do |param|
        %tr
          %td{:title => param.parameter_category.name}= param.parameter_category.name
          %td{:title => param.parameter_sub_category.name}= param.parameter_sub_category.name
          %td{:title => param.parameter_modification.name}= param.parameter_modification.name
          %td{:title => param.amount}= param.amount
          %td{:title => param.parameter_unit}= param.parameter_unit ? param.parameter_unit.name : ""
          %td.comments{:title => param.comments}= param.comments
          %td
            = link_to 'Edit', edit_facility_experiment_experiment_parameter_path(facility, experiment, param), :id => "edit_experiment_parameter_#{param.id}", :class => "btn btn-primary"
            = link_to 'Delete', facility_experiment_experiment_parameter_path(facility, experiment, param), :confirm => 'Are you sure you want to delete this parameter?', :method => :delete, :id => "delete_experiment_parameter_#{param.id}", :class => "btn btn-danger"

