- content_for :breadcrumb do
  %h1 Admin / Access Requests

%table#access_requests
  %tr
    %th.email
      Email
    %th.firstname
      First name
    %th.lastname
      Last name
    %th.actions Actions
  - @users.each do |user|
    %tr{:class => cycle('field_bg', 'field_nobg')}
      %td.email= link_to user.email, user, :class => "email", :id => "view_#{user.id}", :title => 'View'
      %td.firstname= user.first_name
      %td.lastname= user.last_name
      %td.actions
        - if can?(:reject, user) then
          = link_to "Spam", reject_as_spam_user_path(user), :method => :put, :id => "reject_as_spam_#{user.id}", :class => "spam floatleft"
          = link_to "Reject", reject_user_path(user), :method => :put, :id => "reject_#{user.id}", :class => "reject floatleft"
        - if can?(:approve, user) then
          = link_to "Approve", edit_approval_user_path(user), :id => "approve_#{user.id}", :class => "approve floatleft"
