- content_for :breadcrumb do
  %h1 Admin / Access Requests / #{@user.email}

.container
  = form_for(@user, :url => approve_user_path(@user)) do |f|
    = render "shared/error_messages", :target => @user
    .rowfield
      = f.label :role_id, "Role"
      = f.collection_select(:role_id, @roles, :id, :name, {:include_blank => ""})
    .form-actions
      .actions-pre
        = cancel_button 'Back', access_requests_users_path
      .actions
        = f.submit("Approve")
