- content_for :breadcrumb do
  %h1 Admin / Access Requests / #{@user.email}

.container
  = form_for(@user, :url => approve_user_path(@specimen)) do |f|
    = render "shared/error_messages", :target => @user
    .rowfield
      = f.label :role_id, "Role"
      = f.collection_select(:role_id, @roles, :id, :name, {:include_blank => ""})
    .actions
      .cancelbutton
        %span
        = link_to 'Back', access_requests_users_path, :class => "cancelbutton"
      = f.submit("Approve")
