- content_for :breadcrumb do
  Admin / Users

%table.data_table.margin_top_small#users
  %tr.header
    %th.email Email
    %th
      First name
    %th
      Last name
    %th.role Role
    %th.status Status
    %th.date
      Last signed in
    %th.actions

  - @users.each do |user|
    %tr{ :class => cycle('field_bg', 'field_nobg')}
      %td.email{:title => user.email}= link_to user.email, user, :id => "view_#{user.id}"
      %td.name{:title => user.first_name}= user.first_name
      %td.name{:title => user.last_name}= user.last_name
      %td.role= user.role.name if user.role
      %td.status= user.status_description
      %td.date
        - if user.last_sign_in_at.nil?
          Never logged in
        - else
          = user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
      %td.actions
        - if can?(:update_role, User)
          = link_to '', edit_role_user_path(user), :id => "edit_role_#{user.id}", :class => "edit", :title => 'Edit role'
