= render 'users/pageactions'
%h1 Admin / List all users
#content_container
  = render 'users/admintabs'
  %table.data_table.margin_top_small#users
    %tr.header
      %th.view View
      %th
        First name
        %span
      %th
        Last name
        %span
      %th.email
        Email
        %span
      %th.role Role
      %th.status Status
      %th.date 
        Last signed in
        %span
      %th.actions

    - @users.each do |user|
      %tr{ :class => cycle('field_bg', 'field_nobg')}
        %td{ :id => "view_#{user.id}", :class => "view"}= link_to '', users_path, :class => "view"
        %td= user.first_name
        %td= user.last_name
        %td.email= user.email
        %td.role= user.role.name if user.role
        %td.status
          - if user.status == 'A'
            Active
          - else
            Deactivated
        %td.date
          - if user.last_sign_in_at.nil?
            Never logged in
          - else
            = user.last_sign_in_at.localtime.strftime("%d/%m/%Y %I:%M%p")
        %td.actions
          - if can?(:update_role, User)
            = link_to '', edit_role_user_path(user), :id => "edit_role_#{user.id}", :class => "edit"
