- if @data_file.format == "TOA5"
  - @data_file.metadata_items.each do |item|
    - if item.key == "station_name"
      - fac = Facility.find_by_code(item.value)
      - unless fac.nil?
        = render_field item.key.humanize, item.value + " (" + fac.name + ")"
      - else 
        = render_field item.key.humanize, item.value
    - else
      = render_field item.key.humanize, item.value

  %h3 Data File Columns
  - if @data_file.cols_unmapped?
    = link_to "Fill in column mappings", connect_column_mapping_path(:id => @data_file.id), :class => "bluebutton"
  %table#column_info
    %tr
      %th Column
      %th Column Mapping
      %th Unit
      %th Measurement Type
    - @data_file.column_details.each do |column_details|
      %tr
        %td= column_details.name
        %td
          - @column_mappings.each do |map|
            - unless map.check_col_mapping(column_details.name).nil?
              = map.name
        %td= column_details.unit
        %td= column_details.data_type
