- @data_file.metadata_items.each do |item|
  - render_field item.key.humanize, item.value
- if @data_file.is_toa5? or @data_file.is_netcdf?
  %hr/
  %h3 Columns
  - if @data_file.cols_unmapped?
    = link_to "Fill in column mappings", map_column_mapping_path(:id => @data_file.id), :class => "bluebutton"
  %table#column_info
    %tr
      %th Column
      %th Column Mapping
      %th Unit
      %th Measurement Type
      - if @data_file.is_netcdf?
        %th Frequency
    - @data_file.column_details.order(:position).each do |column_details|
      %tr
        %td{:title => column_details.name}= column_details.name
        %td{:title => column_details.get_mapped_name}= column_details.get_mapped_name
        %td{:title => column_details.unit}= column_details.unit
        %td{:title => column_details.data_type}= column_details.data_type
        - if @data_file.is_netcdf?
          %td{:title => column_details.frequency}= column_details.frequency
