- content_for :breadcrumb  do
  %h1 Data / Upload

.container
  .alert.alert-success 
    Your files have been uploaded. Below you can modify the information about individual files if you wish.
  = form_tag(bulk_update_data_files_path, :method => :put) do
    - @uploaded_files.each do |file|
      .file-panel{:id => "file_panel_#{file.id}"}
        %h2{:title => file.filename} #{file.filename}
        %ul
          - if file.messages.is_a? Array
            - file.messages.each do |message_attrs|
              %li.alert{:class => message_attrs[:type]}= message_attrs[:message]
        .control-group
          %label.control-label Type:
          .controls
            .record= "#{file.file_processing_status}"

        .control-group
          = label_tag "file_#{file.id}_experiment", "Experiment", class: "control-label"
          .controls
            = select_tag "files[#{file.id}][experiment_id]", option_groups_from_collection_for_select(grouped_experiments_for_select, :experiments, :name, :id, :name, file.experiment_id), :id => "file_#{file.id}_experiment"

        .control-group
          = label_tag "file_#{file.id}_description", "Description", class: "control-label"
          .controls
            = text_area_tag "files[#{file.id}][file_processing_description]", file.file_processing_description, :id => "file_#{file.id}_description"

        .control-group
          = label_tag "file_#{file.id}_external_id", "ID", class: "control-label"
          .controls
            = text_field_tag "files[#{file.id}][external_id]", file.external_id, :id => "file_#{file.id}_external_id"

        .control-group#tags
          = label_tag :tags, "Tags", class: "control-label"
          .controls
            - if tags.empty?
              .record None
            - tags.each do |tag|
              .record.checkbox
                = check_box_tag "files[#{file.id}][tag_ids][]", tag.id, file.tag_ids.include?(tag.id), :id => "file_#{file.id}_tag_#{tag.id}"
                = label_tag "file_#{file.id}_tag_#{tag.id}", tag.name, :class => 'tag', :title => tag.name

        - unless file.known_format?
          .control-group
            .date-format yyyy-mm-dd
          .control-group
            = label_tag "file_#{file.id}_start_time", "Start Time", class: "control-label"
            .controls
              = text_field_tag "files[#{file.id}][start_time]", @start_time, :id => "file_#{file.id}_start_time", :datepicker => true
              .hidden{:id => "file_#{file.id}_start_container"}
                = select_hour @start_time, {:field_name => "files[#{file.id}][start_hr]"}, {:id => "file_#{file.id}_start_hr"}
                = select_minute @start_time, {:field_name => "files[#{file.id}][start_min]"}, {:id => "file_#{file.id}_start_min"}
                = select_second @start_time, {:field_name => "files[#{file.id}][start_sec]"}, {:id => "file_#{file.id}_start_sec"}
          .control-group
            = label_tag "file_#{file.id}_end_time", "End Time", class: "control-label"
            .controls
              = text_field_tag "files[#{file.id}][end_time]", @end_time, :id => "file_#{file.id}_end_time", :datepicker => true
              .hidden{:id => "file_#{file.id}_end_container"}
                = select_hour @end_time, {:field_name => "files[#{file.id}][end_hr]"}, {:id => "file_#{file.id}_end_hr"}
                = select_minute @end_time, {:field_name => "files[#{file.id}][end_min]"}, {:id => "file_#{file.id}_end_min"}
                = select_second @end_time, {:field_name => "files[#{file.id}][end_sec]"}, {:id => "file_#{file.id}_end_sec"}

    .form-actions
      .actions
        = submit_tag "Update"
