- content_for :breadcrumb  do
  Data / Edit / #{@data_file.filename}



.container
  - if @data_file.published? and !can?(:read, User)
    You do not have permission to edit this published file.
  - else
    = form_for (@data_file) do |f|
      %h2{:title => @data_file.filename} Editing Metadata of #{@data_file.filename}
      = render "shared/error_messages", :target => @data_file
      .control-group
        -if @data_file.is_package?
          .control-label Name
          .controls
            .record
              = @data_file.filename
        -else
          %label.control-label{ :for => :data_file_filename } Name
          .controls
            = required
            = f.text_field :filename

      .control-group
        - if @data_file.is_raw_file? or @data_file.is_package?
          .control-label File type
          .controls
            .record
              = @data_file.file_processing_status
        - else
          %label.control-label{:for => :file_processing_status} File type
          .controls
            .record
              = required
              = f.select :file_processing_status, options_for_select(DataFile::STATI_FOR_EDIT, @data_file.file_processing_status), :include_blank => true

      .control-group
        .control-label File Format
        .controls
          .record
          = @data_file.format

      .control-group
        %label.control-label{:for => :data_file_file_processing_description} Description
        .controls
          = f.text_area :file_processing_description
      .control-group
        = f.label :access, "Public", class: "control-label"
        .controls
          = f.radio_button :access, "Public"
      .control-group
        = f.label :access, "Private", class: "control-label"
        .controls
          = f.radio_button :access, "Private"
        .controls
          .record.checkbox
            = f.check_box :access_to_all_institutional_users, {}, "true", "false"
            = label_tag "inst_users", "All Institutional Users", :class => 'tag', :title => "All Institutional Users"
          .record.checkbox
            = f.check_box :access_to_user_groups, {}, "true", "false"
            = label_tag "non_inst_users", "Users in Groups", :class => 'tag', :title => "Users in Groups"

      .control-group#tags
        .control-label Tags
        .controls
          - if tags.empty?
            .record None
          - tags.each do |tag|
            .record.checkbox
              = check_box_tag "tags[]", tag.id, @data_file.tag_ids.include?(tag.id), :id => "tag_#{tag.id}"
              = label_tag "tag_#{tag.id}", tag.name, :class => 'tag', :title => tag.name
      .control-group#labels
        %label.control-label{:for => :data_file_label_list} Labels
        .controls
          = f.text_field :label_list, data: {labels: labels}
      .control-group
        %label.control-label{:for => :data_file_experiment_id} #{@config.level2}
        .controls
          = required
          = f.select :experiment_id, option_groups_from_collection_for_select(grouped_experiments_for_select, :experiments, :name, :id, :name, @data_file.experiment_id), :include_blank => true
      .control-group
        .control-label Date Added
        .controls
          .record
            = @data_file.created_at.to_s(:with_time)
      .control-group
        - if @data_file.is_package?
          .control-label ID
          .record.controls
            = @data_file.external_id
        - else
          %label.control-label{ :for => :data_file_external_id} ID
          .controls
            = f.text_field :external_id
      .control-group
        .control-label Added By
        .controls
          .record
            = (@data_file.created_by ? @data_file.created_by.email : "")

      - unless @data_file.is_toa5?
        .control-group
          .date-format yyyy-mm-dd
        .control-group
          = label_tag "data_file_start_time", "Start Time", class: "control-label", :for => "file_#{@data_file.id}_start_time"
          .controls
            - if @data_file.start_time_is_not_nil?
              = text_field_tag "date[start_time]", @data_file.start_time.utc.to_date,  :id => "file_#{@data_file.id}_start_time", :datepicker => true
              .show{:id => "file_#{@data_file.id}_start_container"}
                = select_hour @data_file.start_time.utc, {:field_name => "start_hr"}, {:id => "start_hr"}
                = select_minute @data_file.start_time.utc, {:field_name => "start_min"}, {:id => "start_min"}
                = select_second @data_file.start_time.utc, {:field_name => "start_sec"}, {:id => "start_sec"}
            - else
              = text_field_tag "date[start_time]", @data_file.start_time, :id => "file_#{@data_file.id}_start_time", :datepicker => true
              .hidden{:id => "file_#{@data_file.id}_start_container"}
                = select_hour @data_file.start_time, {:field_name => "start_hr"}
                = select_minute @data_file.start_time, {:field_name => "start_min"}
                = select_second @data_file.start_time, {:field_name => "start_sec"}
        .control-group
          = label_tag "data_file_end_time", "End Time", class: "control-label", :for => "file_#{@data_file.id}_end_time"
          .controls
            -if @data_file.end_time_is_not_nil?
              = text_field_tag "date[end_time]", @data_file.end_time.utc.to_date, :id => "file_#{@data_file.id}_end_time", :datepicker => true
              .show{:id => "file_#{@data_file.id}_end_container"}
                = select_hour @data_file.end_time.utc, {:field_name => "end_hr"}
                = select_minute @data_file.end_time.utc, {:field_name => "end_min"}
                = select_second @data_file.end_time.utc, {:field_name => "end_sec"}
            - else
              = text_field_tag "date[end_time]", @data_file.start_time, :id => "file_#{@data_file.id}_end_time", :datepicker => true
              .hidden{:id => "file_#{@data_file.id}_end_container"}
                = select_hour @data_file.end_time, {:field_name => "end_hr"}
                = select_minute @data_file.end_time, {:field_name => "end_min"}
                = select_second @data_file.end_time, {:field_name => "end_sec"}
      %h2{:title => @data_file.filename} Editing File Relationships of #{@data_file.filename}
      .control-group
        = label_tag "experiment_id", "Filter Files", class: "control-label"
        .controls
          = select_tag "experiment_id", option_groups_from_collection_for_select(grouped_experiments_for_select, :experiments, :name, :id, :name, @data_file.experiment_id)
          %br/
          Filter data files by #{@config.level2.downcase}
      .control-group
        = f.label :parent_ids, "Parents", class: "control-label"
        .controls
          = f.hidden_field :parent_ids, value: nil, data: {placeholder: 'Select parent data files...', values: @data_file.parents.relationship_fields}, class: "file_relation_select"
      .control-group
        = f.label :child_ids, "Children", class: "control-label"
        .controls
          = f.hidden_field :child_ids, value: nil, data: {placeholder: 'Select child data files...', values: @data_file.children.relationship_fields}, class: "file_relation_select"

      .form-actions
        .actions-pre
          = cancel_button "Cancel", data_files_path
        .actions
          = f.submit "Update", :confirm => @data_file.published? ? "These changes will not affect the underlying RIF-CS. To modify the metadata in the RIF-CS, you will need to create a new package." : nil

:javascript
  $('#data_file_label_list').select2({
    minimumInputLength: 3,
    tags: $('#data_file_label_list').data('labels'),
    tokenSeparators: ['|'],
    separator: '|'
  });

  var invalid = ["#{@data_file.id}"];
  var parents = $('#data_file_parent_ids').data('values');
  var children = $('#data_file_child_ids').data('values');


  var interim_data = {};
  var DC21 = {preload_data: []};

  $('#experiment_id').change(function() {
    var exp_id = $('#experiment_id').val();
    if ($.inArray(exp_id.toString(), _.keys(_.indexBy(DC21.preload_data,'exp_id'))) == -1) {

      $('#experiment_id').attr('disabled', true);
      $('.file_relation_select').select2("enable", false);
      $.post( "/data_files/api_search.json", { experiments: [exp_id] }, function( data ) {
        var new_data = _.map(data, function(df){
                         return {id: df.file_id, exp_id: df.experiment_id, text: df.filename};
                       });
        interim_data = _.indexBy(_.union(DC21.preload_data, new_data), 'id')
        DC21.preload_data = _.sortBy(_.values(interim_data), 'text');
        $('.file_relation_select').select2("enable", true);
        $('#experiment_id').removeAttr('disabled');
      }, "json");
    }
  });

  $('#experiment_id').change();

  $('.file_relation_select').select2({
    minimumInputLength: 3,
    multiple: true,
    query: function (query){
        var data = {results: []};

        $.each(DC21.preload_data, function(){
          if (data.results.length >= 100) {
            return false;
          }
          if (validDataFile(this.id) && this.exp_id.toString() == $('#experiment_id').val()){
            if(query.term.length == 0 || this.text.toUpperCase().indexOf(query.term.toUpperCase()) >= 0  ){
                data.results.push({id: this.id, text: this.text });
            }
          }
        });

        query.callback(data);
    }
  });

  $('#data_file_parent_ids').select2('data', parents);
  $('#data_file_child_ids').select2('data', children);

  function validDataFile(id) {
    invalid = ["#{@data_file.id}"];
    $.merge(invalid, $('#data_file_child_ids').val().split(",") || []);
    $.merge(invalid, $('#data_file_parent_ids').val().split(",") || []);
    $.unique(invalid);
    return $.inArray(id.toString(), invalid) == -1;
  }
