- content_for :breadcrumb  do
  %h1{:title => @data_file.filename} Data / Edit / #{@data_file.filename}



.container
  - if @data_file.published? and !can?(:read, User)
    You do not have permission to edit this published file.
  - else
    = form_for (@data_file) do |f|
      %h2{:title => @data_file.filename} Editing Metadata of #{@data_file.filename}
      = render "shared/error_messages", :target => @data_file
      .control-group
        -if @data_file.is_package?
          .control-label Name
          .controls
            .record
              = @data_file.filename
        -else
          %label.control-label{ :for => :data_file_filename } Name
          .controls
            = required
            = f.text_field :filename

      .control-group
        - if @data_file.is_raw_file? or @data_file.is_package?
          .control-label File type
          .controls
            .record
              = @data_file.file_processing_status
        - else
          %label.control-label{:for => :file_processing_status} File type
          .controls
            .record
              = required
              = f.select :file_processing_status, options_for_select(DataFile::STATI_FOR_EDIT, @data_file.file_processing_status), :include_blank => true

      .control-group
        .control-label File Format
        .controls
          .record
          = @data_file.format_for_display

      .control-group
        %label.control-label{:for => :data_file_file_processing_description} Description
        .controls
          = f.text_area :file_processing_description
      .control-group#tags
        .control-label Tags
        .controls
          - if tags.empty?
            .record None
          - tags.each do |tag|
            .record.checkbox
              = check_box_tag "tags[]", tag.id, @data_file.tag_ids.include?(tag.id), :id => "tag_#{tag.id}"
              = label_tag "tag_#{tag.id}", tag.name, :class => 'tag', :title => tag.name
      .control-group
        %label.control-label{:for => :data_file_experiment_id} #{@config.level2}
        .controls
          = required
          = f.select :experiment_id, option_groups_from_collection_for_select(grouped_experiments_for_select, :experiments, :name, :id, :name, @data_file.experiment_id), :include_blank => true
      .control-group
        .control-label Date Added
        .controls
          .record
            = @data_file.created_at.to_s(:with_time)
      .control-group
        - if @data_file.is_package?
          .control-label ID
          .record.controls
            = @data_file.external_id
        - else
          %label.control-label{ :for => :data_file_external_id} ID
          .controls
            = f.text_field :external_id
      .control-group
        .control-label Added By
        .controls
          .record
            = (@data_file.created_by ? @data_file.created_by.email : "")

      .control-group#labels
        .control-label Labels
        .controls
          = f.text_field :label_list

      - unless @data_file.is_toa5?
        .control-group
          .date-format yyyy-mm-dd
        .control-group
          = label_tag "data_file_start_time", "Start Time", class: "control-label", :for => "file_#{@data_file.id}_start_time"
          .controls
            - if @data_file.start_time_is_not_nil?
              = text_field_tag "date[start_time]", @data_file.start_time.utc.to_date,  :id => "file_#{@data_file.id}_start_time", :datepicker => true
              .show{:id => "file_#{@data_file.id}_start_container"}
                = select_hour @data_file.start_time.utc, {:field_name => "start_hr"}, {:id => "start_hr"}
                = select_minute @data_file.start_time.utc, {:field_name => "start_min"}, {:id => "start_min"}
                = select_second @data_file.start_time.utc, {:field_name => "start_sec"}, {:id => "start_sec"}
            - else
              = text_field_tag "date[start_time]", @data_file.start_time, :id => "file_#{@data_file.id}_start_time", :datepicker => true
              .hidden{:id => "file_#{@data_file.id}_start_container"}
                = select_hour @data_file.start_time, {:field_name => "start_hr"}
                = select_minute @data_file.start_time, {:field_name => "start_min"}
                = select_second @data_file.start_time, {:field_name => "start_sec"}
        .control-group
          = label_tag "data_file_end_time", "End Time", class: "control-label", :for => "file_#{@data_file.id}_end_time"
          .controls
            -if @data_file.end_time_is_not_nil?
              = text_field_tag "date[end_time]", @data_file.end_time.utc.to_date, :id => "file_#{@data_file.id}_end_time", :datepicker => true
              .show{:id => "file_#{@data_file.id}_end_container"}
                = select_hour @data_file.end_time.utc, {:field_name => "end_hr"}
                = select_minute @data_file.end_time.utc, {:field_name => "end_min"}
                = select_second @data_file.end_time.utc, {:field_name => "end_sec"}
            - else
              = text_field_tag "date[end_time]", @data_file.start_time, :id => "file_#{@data_file.id}_end_time", :datepicker => true
              .hidden{:id => "file_#{@data_file.id}_end_container"}
                = select_hour @data_file.end_time, {:field_name => "end_hr"}
                = select_minute @data_file.end_time, {:field_name => "end_min"}
                = select_second @data_file.end_time, {:field_name => "end_sec"}
      .form-actions
        .actions-pre
          = cancel_button "Cancel", data_files_path
        .actions
          = f.submit "Update", :confirm => @data_file.published? ? "These changes will not affect the underlying RIF-CS. To modify the metadata in the RIF-CS, you will need to create a new package." : nil

:javascript
    $('#data_file_label_list').select2({tags: #{labels.to_json}, tokenSeparators: [',']})