- title 'Data Files'

= link_to 'Upload Files', new_data_file_path

- if @data_files.empty?
  No files to display.
- else
  %table#data_files
    %tr
      %th Name
      %th Date added
      %th Added by
      %th Start time
      %th End time
    - @data_files.each do |data_file|
      %tr
        %td= link_to data_file.filename, data_file
        %td= data_file.created_at.to_s(:with_time)
        %td= data_file.created_by.email if data_file.created_by
        %td= data_file.start_time.to_s(:with_seconds) if data_file.start_time
        %td= data_file.end_time.to_s(:with_seconds) if data_file.end_time

