= render 'pages/pageactions'
%h1 Home / Explore Data
#content_container
  = render 'pages/contentnavigation'

  %p
    = @search_status_line
    - if @searched
      = link_to "Show all files", data_files_path


  - if (@data_files.empty? && !@searched)
    No files to display.
  - else
    %form
      %table#exploredata
        %tr
          %th.view View
          %th= sortable "filename"
          %th= sortable "created_at", "Date added"
          %th= sortable "users.email", "Added by"
          %th= sortable "start_time", "Start time"
          %th= sortable "end_time", "End time"
        - @data_files.each do |data_file|
          %tr{:class => cycle('field_bg', 'field_nobg')}
            %td.view= link_to '', data_file, :class => "view", :id => "view_#{data_file.id}"
            %td= data_file.filename
            %td= data_file.created_at.to_s(:with_time)
            %td= data_file.created_by.email if data_file.created_by
            %td= data_file.start_time.utc.to_s(:with_seconds) if data_file.start_time
            %td= data_file.end_time.utc.to_s(:with_seconds) if data_file.end_time
      %div= link_to "Download All", download_all_data_files_path, :class =>"bluebutton"
