- content_for :breadcrumb  do
  %h1 Home / Explore Data

- add_all_warning = "Do you really want to add #{@data_files.size} files to your cart?"


.datacontroll
  - if @data_files.empty? || !@search.showing_all?
    = link_to "Clear Search", data_files_path, class: "btn pull-left"
  .data-results
    - unless @data_files.empty? || @search.showing_all?
      -##.whitebutton
        %span= link_to 'Publish', '#', id: :publish_button
    %h3.results
      - if @data_files.empty?
        No matching files
      - else
        - if @search.showing_all?
          = "Showing all #{@data_files.size} files"
        - else
          = @data_files.size == 1 ? "Showing 1 matching file" : "Showing #{@data_files.size} matching files"

    -##downloadtoggle.download.whitebutton
      -#%span= link_to 'Download Files'

.facetedsearch.search
  .searchbox
    = form_tag(search_data_files_path, :id => "search_form") do
      =hidden_field_tag "direction", sort_direction
      =hidden_field_tag "sort", sort_column
      .searchcategory
        %h4#date.expand Date:
        .date
          = label_tag :from_date, "From Date:"
          = text_field_tag "search[from_date]", @from_date, :id => :from_date, :datepicker => true, :size => 10, :maxlength => 10
          = label_tag :to_date, "To Date:"
          = text_field_tag "search[to_date]", @to_date, :id => :to_date, :datepicker => true, :size => 10, :maxlength => 10
          .actions= submit_tag "Update Search Results", :class => "bluebutton"
      .searchcategory
        %h4#filename_category.expand Filename:
        .filename
          = label_tag :filename, "Filename:"
          = text_field_tag "search[filename]", @filename, :id => :filename
          .actions= submit_tag "Update Search Results", :class => "bluebutton"
      .searchcategory
        %h4#description_category.expand Description:
        .description
          = label_tag :description, "Description:"
          = text_field_tag "search[description]", @description, :id => :description
          .actions= submit_tag "Update Search Results", :class => "bluebutton"
      .searchcategory
        %h4#type_category.expand Type:
        .type
          - DataFile::ALL_STATI.each_with_index do |status, index|
            = label_tag "search_status_#{index}", status
            = check_box_tag "search[stati][]", status, @selected_stati.include?(status), :id => "search_status_#{index}"
          .actions= submit_tag "Update Search Results", :class => "bluebutton"
      .searchcategory
        %h4#tags_category.expand Tags:
        .tags
          - tags.each_with_index do |tag, index|
            = label_tag "search_tag_#{index}", tag.name
            = check_box_tag "search[tags][]", tag.id, @selected_tags.include?(tag.id.to_s), :id => "search_tag_#{index}"
          .actions= submit_tag "Update Search Results", :class => "bluebutton"
      .searchcategory
        %h4#facility.expand Facility:
        .facility
          - facilities.each_with_index do |facility, index|
            .facility_group
              = link_to "+", "#", :id => "expand_#{facility.name}", :class => "expand_facility"
              = label_tag "search_facility_#{index}", facility.name, :class => :facility_parent
              = check_box_tag "search[facilities][]", facility.name, @selected_facilities.include?(facility.name), :id => "search_facility_#{index}", :class => :facility_parent
              .facility_children
                - experiments.each_with_index do |experiment, e_index|
                  - if experiment.facility_id == facility.id
                    = label_tag "search_experiment_#{index}_#{e_index}", experiment.name, :class => :experiment
                    = check_box_tag "search[experiments][]", experiment.name, @selected_experiments.include?(experiment.name), :id => "search_experiment_#{index}_#{e_index}", :class => :experiment
          .actions= submit_tag "Update Search Results", :class => "bluebutton"
      .searchcategory
        %h4#variable.expand Columns:
        .variable
          -# variables contains something like [["Temperature", ["temp", "ptemp"]], ["Humidity", "humi", "humidi", "humidity"]]
          - variables.each_with_index do |variable_info, index|
            .variable_group
              = link_to "+", "#", :id => "expand_#{variable_info[0].parameterize("_")}", :class => "expand_variable"
              = label_tag "search_variable_#{index}", variable_info[0], :class => :variable_parent
              = check_box_tag "search[variable_parents][]", variable_info[0], @selected_parent_variables.include?(variable_info[0]), :id => "search_variable_#{index}", :class => :variable_parent
              .variable_children
                - variable_info[1].each_with_index do |child_variable, index2|
                  = label_tag "search_variable_#{index}_#{index2}", child_variable, :class => :variable_child
                  = check_box_tag "search[variables][]", child_variable, @selected_variables.include?(child_variable), :id => "search_variable_#{index}_#{index2}", :class => :variable_child
          .actions= submit_tag "Update Search Results", :class => "bluebutton"
      .searchcategory
        %h4#uploader.expand Uploader:
        .uploader
          = label_tag "search[uploader_id]", "Uploader:"
          = select_tag "search[uploader_id]", options_from_collection_for_select(User.alphabetical_by_first_name.approved, :id, :full_name, @uploader_id), :prompt => "Please select"
          .actions= submit_tag "Update Search Results", :class => "bluebutton"
      .searchcategory
        %h4#upload_date.expand Upload Date:
        .upload_date
          = label_tag :from_date, "From Date:"
          = text_field_tag "search[upload_from_date]", @upload_from_date, :id => :upload_from_date, :datepicker => true, :size => 10, :maxlength => 10
          = label_tag :to_date, "To Date:"
          = text_field_tag "search[upload_to_date]", @upload_to_date, :id => :upload_to_date, :datepicker => true, :size => 10, :maxlength => 10
          .actions= submit_tag "Update Search Results", :class => "bluebutton"

- unless @data_files.empty?


  = form_tag(download_selected_data_files_path, :method => :get, :name => "datafiles", :class => "exploredata search") do
    = hidden_field_tag "searched_from_date", @from_date
    = hidden_field_tag "searched_to_date", @to_date
    %table#exploredata.search
      %tr
        -##%th.view.select
          = (link_to "All", "javascript:selectToggle(false, 'datafiles');") + "/" + (link_to "None", "javascript:selectToggle(true, 'datafiles');")
        -##%th.view View
        %th.sortable.filename= sortable "data_files.filename", "Filename"
        %th.sortable.date= sortable "data_files.created_at", "Date added"
        %th.sortable.size= sortable "data_files.file_size", "Size"
        %th.sortable.email= sortable "users.email", "Added by"
        %th.sortable.type= sortable "data_files.file_processing_status", "Type"
        %th.sortable.experiment= sortable "data_files.experiment_id", "Experiment"
        %th.add_cart
          = link_to 'Add All', add_all_line_items_path(:data_file_ids => @data_files.map(&:id)), :method => :get, :class => "bluebutton", :confirm => add_all_warning, :id => "add_all_to_cart"
      - @data_files.each do |data_file|
        %tr{:class => cycle('field_bg', 'field_nobg')}
          -##%td.view.select= check_box_tag "ids[]",  "#{data_file.id}", false, :id => "download_checkbox_#{data_file.id}"
          -##%td.view= link_to '', data_file, :class => "view", :id => "view_#{data_file.id}", :title => 'View'

          %td.filename= link_to  data_file.filename, data_file_path(data_file)
          %td.date= data_file.created_at.to_s(:with_time)
          %td.size= number_to_human_size(data_file.file_size)
          %td.email= data_file.created_by.email if data_file.created_by
          %td.type= data_file.status_as_string
          %td.experiment= data_file.experiment_name
          %td.add_cart
            - unless current_user.data_file_in_cart?(data_file)
              = link_to 'Add to Cart', line_items_path(:data_file_ids => data_file), :method => :post, :class => "bluebutton", :id => "add_to_cart_#{data_file.id}", :remote => true
    #helper_text.select
      Select one or more files to download
    -###download_actions.actions.hidden
      = submit_tag "Download Selected Files", :class => "bluebutton"
      -#= submit_tag "Build Custom Download", :class => "bluebutton", :name => "build_custom"

