- content_for :breadcrumb  do
  %h1 Home / Upload / Set File Metadata

%h3 Files awaiting status
= form_tag post_process_data_files_path, html: {method: :put} do
  %table#set_status
    %tr
      %th="File name"
      %th="Date Added"
      %th="Added By"
      %th="Status"
      %th="Description (Optional)"
      - @data_files.each do |df|
        = fields_for "data_files[]", df do |f|
          %tr{:class => cycle('field_bg', 'field_nobg')}
            %td= df.filename
            %td= df.created_at.to_s(:with_time)
            %td.email= df.created_by.email if df.created_by
            %td= f.select :file_processing_status, %w(UNKNOWN RAW CLEANSED PROCESSED), :include_blank => true
            %td= f.text_field :file_processing_description

  .actions
    = submit_tag "Done", :class => "bluebutton"
