- content_for :breadcrumb  do
  %h1 Data / Upload

.container
  = form_for(@data_file, :html => {:multipart => true}) do |f|
    .formerror= render "shared/error_messages", :target => @data_file
    .rowform
      = label_tag :file_processing_status, "File type"
      = select_tag :file_processing_status, options_for_select(DataFile::STATI), :include_blank => true
    .rowform
      = label_tag :experiment_id
      = select_tag   :experiment_id, option_groups_from_collection_for_select(grouped_experiments_for_select(@data_file), :experiments, :name, :id, :name), :include_blank => true
    .rowform#files_input
      = label_tag "files_field", "Select file(s)"
      = file_field_tag "files[]", {:id => "files_field", :multiple => "multiple"}
    .actions
      = f.submit "Upload"

  - unless @uploaded_files.empty?
    - @uploaded_files.each do |file|
      .file-panel{:id => "file_panel_#{file.id}"}
        = file.filename
        %br/
        = "Type: #{file.file_processing_status}"
        %br/
        = "Experiment: #{file.experiment_name}"
        %br/
        .messages
          - file.messages.each do |message|
            = message
            %br/
