- content_for :breadcrumb  do
  %h1{:title => @data_file.filename} Data / View / #{@data_file.filename}

- content_for :pageactions do
  =render :partial => 'data_files/pageactions'

- @cart_item_ids = cart_items.collect(&:id)

.form-actions
  .actions-pre
    - if @back_request.nil? or !@back_request.include? root_url
      = cancel_button "Back", data_files_path
    -else
      = cancel_button "Back", :back
  .actions
    - if (can?(:manage, DataFile) || @data_file.created_by.eql?(current_user)) and !@data_file.is_error_file?
      - if !@data_file.published or can?(:manage, @data_file)
        = link_to "Edit Metadata", edit_data_file_path, :class => "btn btn-primary"
    - if @cart_item_ids.include?(@data_file.id)
      = link_to 'Remove from Cart', cart_item_path(@data_file), :method => :delete, :class =>  "btn btn-danger", :id => "remove_from_cart_#{@data_file.id}"
    - else
      = link_to 'Add to Cart', cart_items_path(:data_file_ids => @data_file.id),  :class => "btn", :method => "post"


#file_details
  .container
    %h2 Basic Information
    = render_field "Name", @data_file.filename
    = render_field "Type", @data_file.file_processing_status
    = render_field "File format", @data_file.format_for_display
    .description
      = render_description "Description", @data_file.file_processing_description
    = render_description "Converted Text", @data_file.converted_text

    = render_field_with_block "Tags" do
      - @data_file.tags.each do |tag|
        %span{:title => tag.name}= tag.name
        %br/
    = render_field "Labels", @data_file.label_list
    = render_field "#{@config.level2}", @data_file.experiment_name
    = render_field "#{@config.level1}", @data_file.facility_name
    = render_field "Date added", @data_file.created_at.to_s(:with_time)
    - if @data_file.processed_by_resque?
      = render_field "Creation status", @data_file.transfer_status
    - if !@data_file.modifiable? and @data_file.is_package?
      = render_field "Packaging progress", "#{number_to_human_size(@data_file.zip_progress)} processed"

    = render_field "Size", number_to_human_size(@data_file.file_size)
    = render_field "File ID", @data_file.id
    = render_field "ID", @data_file.external_id
    = render_field "Added by", (@data_file.created_by ? @data_file.created_by.email : "")
    -if @data_file.is_package?
      = render_field "Title", @data_file.title
      = render_field "Published", @data_file.published ? "Yes" : "No"
      - if @data_file.published and !@data_file.published_date.nil?
        = render_field "Published by", @data_file.published_by.full_name
        = render_field "Published date", @data_file.published_date.to_s(:with_time)

  .container
    - if @data_file.is_toa5?
      %h2 Information From The File
      = render_field "Start time", @data_file.start_time.utc.to_s(:with_seconds) if @data_file.start_time
      = render_field "End time", @data_file.end_time.utc.to_s(:with_seconds) if @data_file.end_time
      = render_field "Sample interval", distance_of_time_in_words(@data_file.interval) if @data_file.interval
      = render "file_format_specific_details"
    - else
      - start_date = @data_file.start_time.present? ? @data_file.start_time.utc.to_s(:with_seconds) : "Unknown"
      - end_date = @data_file.end_time.present? ? @data_file.end_time.utc.to_s(:with_seconds) : "Unknown"
      = render_field "Start time", start_date
      = render_field "End time", end_date


.form-actions
  .actions-pre
    - if @back_request.nil? or !@back_request.include? root_url
      = cancel_button "Back", data_files_path
    -else
      = cancel_button "Back", :back

  .actions
    - if (can?(:manage, DataFile) || @data_file.created_by.eql?(current_user)) and !@data_file.is_error_file?
      - if !@data_file.published or can?(:manage, @data_file)
        = link_to "Edit Metadata", edit_data_file_path, :class => "btn btn-primary"
    - if @cart_item_ids.include?(@data_file.id)
      = link_to 'Remove from Cart', cart_item_path(@data_file), :method => :delete, :class =>  "btn btn-danger", :id => "remove_from_cart_#{@data_file.id}"
    - else
      = link_to 'Add to Cart', cart_items_path(:data_file_ids => @data_file.id),  :class => "btn", :method => "post"


