= render 'data_files/pageactions'
%h1 Data / View / #{@data_file.filename}
#content_container
  = render_field "Name", @data_file.filename
  = render_field "Date added", @data_file.created_at.to_s(:with_time)
  = render_field "Added by", (@data_file.created_by ? @data_file.created_by.email : "")
  = render_field "File format", @data_file.format_for_display
  = render_field "Start time", @data_file.start_time.to_s(:with_seconds) if @data_file.start_time
  = render_field "End time", @data_file.end_time.to_s(:with_seconds) if @data_file.end_time
  = render "file_format_specific_details"
  .cancelbutton
    %span
    = link_to 'Back', data_files_path, :class => "cancelbutton"
