- content_for :breadcrumb  do
  %h1 Data / View / #{@data_file.filename}

- content_for :pageactions do
  =render :partial => 'data_files/pageactions'

= cancel_button "Back", data_files_path
#file_details
  = render_field "Name", @data_file.filename
  = render_field "Date added", @data_file.created_at.to_s(:with_time)
  = render_field "Added by", (@data_file.created_by ? @data_file.created_by.email : "")
  = render_field "File format", @data_file.format_for_display
  = render_field "Processing status", @data_file.status_as_string
  = render_field "Description", @data_file.file_processing_description
  = render_field "Experiment", @data_file.experiment_name
  = render_field "Start time", @data_file.start_time.utc.to_s(:with_seconds) if @data_file.start_time
  = render_field "End time", @data_file.end_time.utc.to_s(:with_seconds) if @data_file.end_time
  = render_field "Sample interval", distance_of_time_in_words(@data_file.interval) if @data_file.interval
  = render "file_format_specific_details"

= cancel_button "Back", data_files_path
