= form_for(@facility) do |f|
  - if edit_mode
    %h2 Edit Facility
  - else
    %h2 New Facility

  .formerror= render "shared/error_messages", :target => @facility
  .control-group
    %label.control-label{ :for => :name } Name
    .controls
      = required
      = f.text_field :name
  .control-group
    %label.control-label Code
    .controls
      = required
      = f.text_field :code
  .control-group
    %label.control-label Description
    .controls
      = f.text_area :description
  .control-group
    %label.control-label Location of Facility
    .controls
      .record Point location or Top Left Corner of rectangle
  .control-group
    %label.control-label Latitude
    .controls
      = f.text_field :a_lat, :placeholder => "Decimal, -90.0 to 90.0"
  .control-group
    %label.control-label Longitude
    .controls
      = f.text_field :a_long, :placeholder => "Decimal, -180 to 180"
  .control-group
    %label.control-label Location of Facility
    .controls
      .record Bottom Right Corner of rectangle
  .control-group
    %label.control-label Latitude
    .controls
      = f.text_field :b_lat, :placeholder => "Decimal, -90.0 to 90.0"
  .control-group
    %label.control-label Longitude
    .controls
      = f.text_field :b_long, :placeholder => "Decimal, -180 to 180"
  .control-group
    %label.control-label Contacts
    .controls
      = required
      %span.input
      = select_tag :contacts_select,  options_from_collection_for_select(User.approved, :id, :email), :include_blank => true
      = link_to 'Add', '#', :class => "bluebutton", :id => 'add_contact'
      %p.details
        Choose from the list above, and select via radio button the primary contact. 
      %ul#contacts_list
        - if @facility.primary_contact.present?
          - contact = @facility.primary_contact
          - #TODO refactor this out into a helper
          -#= build_contact_fields(contact)
          %li{:id => "contact_#{contact.id}"}
            = hidden_field_tag "contact_ids[]", contact.id
            = radio_button_tag "contact_primary", contact.id, :checked => true
            %span= contact.email
            = link_to "Delete", '#', :class => 'delete_contact delete_link'

        - if @facility.contacts.present?
          - @facility.contacts.each do |contact|
            - #TODO refactor this out into a helper
            -#= build_contact_fields(contact)
            %li{:id => "contact_#{contact.id}"}
              = hidden_field_tag "contact_ids[]", contact.id
              = radio_button_tag "contact_primary", contact.id
              %span= contact.email
              = link_to "Delete", '#', :class => 'delete_contact delete_link'




  .form-actions
    - if edit_mode
      .actions-pre
        .cancelbutton
          %span
          = link_to 'Cancel', facility_path("#{@facility.id}"), :class => "cancelbutton"
      .actions
        = f.submit "Update", :class => ""
    -else
      .actions-pre
        .cancelbutton
          %span
          = link_to 'Cancel', facilities_path, :class => "cancelbutton"
      .actions
        = f.submit "Save Facility", :class => ""
