- content_for :breadcrumb  do
  %h1 Home / Facilities / Edit #{@facility.name}

.container
  = form_for(@facility) do |f|
    .formerror= render "shared/error_messages", :target => @facility
    .rowfield
      %label{ :for => :name } Name:
      = f.text_field :name
      = required
    .rowfield
      %label Code:
      = f.text_field :code
      = required
    .actions
      .cancelbutton
        %span
        = link_to 'Cancel', facility_path("#{@facility.id}"), :class => "cancelbutton"
      = f.submit "Update", :class => "floatright"

