- content_for :breadcrumb  do
  %h1 #{@config.level1_plural}

.datacontroll
  .facility.new.whitebutton.btn
    = link_to "New #{@config.level1}", new_facility_path

- if @facilities.empty?
  %h3 There are no facilities to display
- else
  %table#facilities
    %tr
      %th.name= "Name"
      %th.code= "Code"
    - @facilities.each do |facility|
      %tr{:class => cycle('field_bg', 'field_nobg')}
        %td.name{:title => facility.name}= link_to facility.name, facility, :id => "view_#{facility.id}"
        %td.code{:title => facility.code}= facility.code
