- content_for :breadcrumb  do
  %h1 Facilities

.datacontroll
  .facility.new.whitebutton.btn
    = link_to "New Facility", new_facility_path

- if @facilities.empty?
  %h3 There are no facilities to display
- else
  %table#facilities
    %tr
      %th= "Name"
      %th= "Code"
    - @facilities.each do |facility|
      %tr{:class => cycle('field_bg', 'field_nobg')}
        %td= link_to facility.name, facility, :id => "view_#{facility.id}", :title => 'View'
        %td= facility.code
