- content_for :breadcrumb  do
  %h1 Facilities /

- content_for :pageactions do
  .pageactions
    = link_to "+ New Data Entry", new_data_file_path, :id => "newdataentry", :class => "bluebutton"

.datacontroll
  .facility.new.whitebutton
    = link_to "New Facility", new_facility_path

- if @facilities.empty?
  %h3 There are no facilities to display
- else
  %table#facilities
    %tr
      %th.view View
      %th= "Name"
      %th= "Code"
    - @facilities.each do |facility|
      %tr{:class => cycle('field_bg', 'field_nobg')}
        %td.view= link_to '', facility, :class => "view", :id => "view_#{facility.id}"
        %td= facility.name
        %td= facility.code
