= render 'pages/pageactions'
%h1 Home / Facilities / New
#content_container
  = render 'pages/contentnavigation'
  .container
    = form_for(@facility) do |f|
      .formerror= render "shared/error_messages", :target => @facility
      .rowform
        %label{ :for => :name } Name:
        = f.text_field :name
        = required
      .rowform
        %label Code:
        = f.text_field :code
        = required
      .actions
        .cancelbutton
          %span
          = link_to 'Cancel', facilities_path, :class => "cancelbutton"
        = f.submit "Save Facility", :class => "floatright"
