- content_for :actions do
  %li.actions
    .experiment.new.whitebutton
      = link_to 'New Experiment', new_facility_experiment_path(@facility)

- content_for :breadcrumb  do
  %h1 Facility / View / #{@facility.name}

.container
  = render_field "Name", @facility.name
  = render_field "Code", @facility.code
  .description
    = render_field "Description", @facility.description if @facility.description
  = render_field "Location", @facility.location if @facility.location
  = render_field "Top Left Corner", @facility.loc_tl if @facility.loc_tl
  = render_field "Bottom Right Corner", @facility.loc_br if @facility.loc_br
  = render_field "Primary Contact", "#{@facility.primary_contact.full_name} (#{@facility.primary_contact.email})" if @facility.primary_contact
  - if @facility.contacts.present?
    - @facility.contacts.each_with_index do |c, i|
      = render_field "Other Contact #{i+1}", "#{c.full_name} (#{c.email})"

  .actions
    .cancelbutton
      %span
      = link_to 'Back', facilities_path, :class => "cancelbutton"
    = link_to "Edit Facility", edit_facility_path, :class => "bluebutton floatright"

  %h3 Experiments
  = render 'experiments/list', :experiments => @facility.experiments
