- content_for :actions do
  %li.actions
    .experiment.new.whitebutton
      = link_to 'New Experiment', new_facility_experiment_path(@facility)

- content_for :breadcrumb  do
  %h1 Facility / View / #{@facility.name}

.container
  = render_field "Name", @facility.name
  = render_field "Code", @facility.code
  .cancelbutton
    %span
    = link_to 'Back', facilities_path, :class => "cancelbutton"
  = link_to "Edit Facility", edit_facility_path, :class => "bluebutton floatright"

  %h3 Experiments
  = render 'experiments/list', :experiments => @facility.experiments
