- content_for :breadcrumb  do
  %h1 Facility / View / #{@facility.name}

.container
  = render_field "Name", @facility.name
  = render_field "Code", @facility.code
  .cancelbutton
    %span
    = link_to 'Back', facilities_path, :class => "cancelbutton"
  = link_to "Edit Facility", edit_facility_path, :class => "bluebutton floatright"
