- content_for :breadcrumb  do
  %h1 #{@config.level1_plural} / #{@facility.name}

.container
  -# = render 'actions'
  %h2 #{@config.level1}
  - render_field "Name", @facility.name
  - render_field "Code", @facility.code
  .description
    - render_description "Description", @facility.description if @facility.description
  - render_field "Location", @facility.location if @facility.location
  - render_field "Top Left Corner", @facility.loc_tl if @facility.loc_tl
  - render_field "Bottom Right Corner", @facility.loc_br if @facility.loc_br
  - render_field "Primary Contact", "#{@facility.primary_contact.full_name} (#{@facility.primary_contact.email})" if @facility.primary_contact
  - if @facility.contacts.present?
    - @facility.contacts.each_with_index do |c, i|
      - render_field "Other Contact #{i+1}", "#{c.full_name} (#{c.email})"

  = render 'actions'

.container.experiments
  = render 'experiments/list', :experiments => @facility.experiments
