= form_for @published_collection do |f|
  .formerror= render 'shared/error_messages', target: @published_collection

  .control-group
    = f.label :name, 'Name', class: 'control-label'
    .controls
      = f.text_field :name

  .form-actions
    .actions-pre
      = cancel_button 'Cancel', root_path
    .actions
      = f.submit "Confirm", :class => ""
