.pageactions
  = link_to "+ New Data Entry", root_url, :class => "bluebutton"
  = link_to "<span>New Search</span>".html_safe, root_url, :class => "search whitebutton floatright"
%h1 Home / Explore Data
#content_container
  .adminnavigation
    = tabs_tag(:builder => MenuTabBuilder, :namespace => :adminnavigation) do |tab|
      = tab.dashboard 'Dashboard', home_pages_path
      = tab.explore 'Explore Data', explore_pages_path
      = tab.myuploads 'My Data Uploads', explore_pages_path
      = tab.accessrequests 'Members', explore_pages_path
  %h2 Displaying 0 of 0 results
  %table#exploredata
    %tr.header
      %th.view View
      %th.lastname
        %span
        Name
      %th.email 
        %span
        User
      %th 
        %span
        Type
      %th.date 
        %span
        Date range
      %th.date Tags
      %tr{:class => cycle('field_bg', 'field_nobg')}
        %td
