.pageactions
  = link_to "+ Upload Data", root_url, :class => "bluebutton"
  = link_to "New Search", root_url, :class => "whitebutton floatright"
%h1 Home / Explore Data
#content_container
  .adminnavigation
    = tabs_tag(:builder => MenuTabBuilder, :namespace => :adminnavigation) do |tab|
      = tab.dashboard 'Dashboard', users_path
      = tab.explore 'Explore Data', explore_pages_path
      = tab.accessrequests 'Members', access_requests_users_path
  %table#users
    %tr
      %th Name
      %th Date
      %th Type
      %th User
      %th Status
      %th Last modified
      %th Actions
      %tr{:class => cycle('field_bg', 'field_nobg')}
        %td
