- if !user_signed_in?
  %h1 User Log In /
  #content_container
    .container
      = form_for("user", :url => user_session_path) do |f|
        = render(:partial => 'devise/sessions/form', :locals => { :f => f })
      = link_to "Sign Up", new_user_registration_path, :class => "whitebutton"
      = link_to "Forgot your password?", new_user_password_path, :class => "whitebutton"
- else
  .pageactions
    = link_to "+ New Data Entry", root_url, :class => "bluebutton"
    = link_to "New Search", root_url, :class => "whitebutton floatright"
  %h1 Home / Dashboard
  #content_container
    .adminnavigation
      = tabs_tag(:builder => MenuTabBuilder, :namespace => :adminnavigation) do |tab|
        = tab.dashboard 'Dashboard', home_pages_path
        = tab.explore 'Explore Data', explore_pages_path
        = tab.myuploads 'My Data Uploads', explore_pages_path
        = tab.accessrequests 'Members', explore_pages_path
    .userpannel
      .myprojects
        %h3 My Projects
      .recentuploads
        %h3 Recent Uploads
    .recentactivity
      %h2 Recent Activity
      %table.activity
        %tr
          %th Name
          %th Date
          %th User
        %tr{:class => cycle('field_bg', 'field_nobg')}
          %td
