- if !user_signed_in?
  .container_home
    = form_for("user", :url => user_session_path) do |f|
      = render(:partial => 'devise/sessions/form', :locals => { :f => f })

- else
  - content_for :breadcrumb  do
    %h1 Home / Dashboard
  = form_tag add_all_cart_items_path, :id => "all_data_files_form" do |f|
    - @data_files.each do |data_file|
      = hidden_field_tag "data_file_ids[]", data_file.id
  .recentactivity
    %h2 Recent Activity
    %table#exploredata
      %tr
        %th.filename= "Filename"
        %th= "Date added"
        %th= "Size"
        %th= "Added by"
        %th.add_cart
          - unless @data_files.length < 1
            = link_to 'Add All', "#", :class => "btn", :id => "add_all_to_cart"
      - @cart_item_ids = cart_items.collect(&:id)

      - @data_files.each do |data_file|
        %tr{:class => cycle('field_bg', 'field_nobg')}
          %td.filename{:title => data_file.filename}= link_to data_file.filename  , data_file, :id => "view_#{data_file.id}"
          %td.date{:title => data_file.created_at.to_s(:with_time)}= data_file.created_at.to_s(:with_time)
          %td.size{:title => number_to_human_size(data_file.file_size)}= number_to_human_size(data_file.file_size)
          %td.email{:title => data_file.uploader_email}= data_file.uploader_email
          %td.add_cart
            -if @cart_item_ids.include?(data_file.id)
              = link_to 'Add to Cart', add_single_cart_items_path(:data_file_ids => data_file), :class => "btn disabled" , :id => "add_cart_item_disabled", :remote => true, :data => {:file_size => data_file.file_size}
            -else
              = link_to 'Add to Cart', add_single_cart_items_path(:data_file_ids => data_file), :class =>  "btn", :id => "add_cart_item_#{data_file.id}", :remote => true, :data => {:file_size => data_file.file_size}
