- if !user_signed_in?
  .container_home
    = form_for("user", :url => user_session_path) do |f|
      = render(:partial => 'devise/sessions/form', :locals => { :f => f })

- else
  - content_for :breadcrumb  do
    %h1 Home / Dashboard

  - add_all_warning = "Do you really want to add all files to your cart?"

  .recentactivity
    %h2 Recent Activity
    %table#exploredata
      %tr
        %th= "Filename"
        %th= "Date added"
        %th= "Size"
        %th= "Added by"
        %th.add_cart
          - unless @data_files.length < 1
            = link_to 'Add All', add_all_cart_items_path(:data_file_ids => @data_files.map(&:id)), :method => :post, :class => @unadded_items? "bluebutton" : "bluebutton disabled" , :confirm => add_all_warning, :id => "add_all_to_cart"

      - @data_files.each do |data_file|
        %tr{:class => cycle('field_bg', 'field_nobg')}
          %td= link_to data_file.filename  , data_file, :id => "view_#{data_file.id}", :title => 'View'
          %td= data_file.created_at.to_s(:with_time)
          %td= number_to_human_size(data_file.file_size)
          %td= data_file.created_by.email if data_file.created_by
          %td.add_cart
            = link_to 'Add to Cart', cart_items_path(:data_file_ids => data_file), :method => :post, :class => current_user.data_file_in_cart?(data_file)? "bluebutton disabled" : "bluebutton", :id => "add_cart_item_#{data_file.id}", :remote => true
