
= form_for [@facility, @experiment] do |f|
  .rowform
    .formerror= render "shared/error_messages", :target => @experiment

  .rowform
    = f.label :parent_experiment_id, "Parent:"
    = required
    %span.input
      = f.collection_select :parent_experiment_id, @facility.experiments_excluding_me(@experiment), :id, :name_with_prefix, {:include_blank => "Facility - #{@facility.name}"}
  .rowform
    = f.label :name, "Name:"
    = required
    = f.text_field :name
  .rowform
    = f.label :description, "Description:"
    = f.text_area :description
  .rowform
    = f.label :start_date, "Start date:"
    = required
    = f.text_field :start_date, :datepicker => true
  .rowform
    = f.label :end_date, "End date:"
    = f.text_field :end_date, :datepicker => true
  .rowform
    = f.label :subject, "Subject:"
    = required
    = f.text_field :subject
  .rowform
    = label_tag :for_code_select_1, "FOR Code"
    = select_tag :for_code, options_for_select(for_codes), :prompt => "Please select", :id => :for_code_select_1
    #second_level
      = select_tag :for_code_level2, options_for_select([]), :prompt => "Please select", :id => :for_code_select_2
    #third_level
      = select_tag :for_code_level3, options_for_select([]), :prompt => "Please select", :id => :for_code_select_3
    = link_to "Add", "#", :id => :add_for_code_link

    #selected_for_codes
      %ul#for_codes_list
        - @experiment.experiment_for_codes.each_with_index do |code, index|
          %li
            = code.name
            = hidden_field_tag "for_codes[#{index}][url]", code.url
            = hidden_field_tag "for_codes[#{index}][name]", code.name
            = link_to "Delete", "#", :class => "delete_for_code"
  .actions
    .cancelbutton
      %span
      = link_to 'Cancel', (@experiment.new_record? ? @facility : facility_experiment_path(@facility, @experiment)), :class => "cancelbutton"
    = f.submit 'Save Experiment', :class => "floatright"

:javascript
  $(function(){
    $('#second_level').hide();
    $('#third_level').hide();

    $('select#for_code_select_1').change(function(e){
      var new_value = $(this).val();
      if (new_value != "")
      {
        $.getJSON('/for_codes/second_level',{top_level : $(this).val()},function(result){
          $('select#for_code_select_2').html("<option value=''>Please select</option>");
          $.each(result,function(item, value){
            $("<option value='" + value[1] + "'>" + value[0] + "</option>").appendTo("select#for_code_select_2");
          });
        });
        $('#second_level').show();
      }
      else
      {
        $('select#for_code_select_2').html("<option value=''>Please select</option>");
        $('#second_level').hide();
      }
      $('select#for_code_select_3').html("<option value=''>Please select</option>");
      $('#third_level').hide();
    });

    $('select#for_code_select_2').change(function(e){
      var new_value = $(this).val();
      if (new_value != "")
      {
        $.getJSON('/for_codes/third_level',{second_level : $(this).val()},function(result){
          $('select#for_code_select_3').html("<option value=''>Please select</option>");
          $.each(result,function(item, value){
            $("<option value='" + value[1] + "'>" + value[0] + "</option>").appendTo("select#for_code_select_3");
          });
        });
        $('#third_level').show();
      }
      else
      {
        $('select#for_code_select_3').html("<option value=''>Please select</option>");
        $('#third_level').hide();
      }
    });

    $('#add_for_code_link').live('click', function(){
      var for_code_1 = $('#for_code_select_1').val();
      var for_code_2 = $('#for_code_select_2').val();
      var for_code_3 = $('#for_code_select_3').val();
      var for_code_1_text = $('#for_code_select_1 option:selected').text();
      var for_code_2_text = $('#for_code_select_2 option:selected').text();
      var for_code_3_text = $('#for_code_select_3 option:selected').text();

      var for_code;
      var for_code_text;
      if (for_code_3 != "")
      {
        for_code = for_code_3;
        for_code_text = for_code_3_text;
      }
      else if (for_code_2 != "")
      {
        for_code = for_code_2;
        for_code_text = for_code_2_text;
      }
      else
      {
        for_code = for_code_1;
        for_code_text = for_code_1_text;
      }
      var new_element = "<li>";
      var new_id  = new Date().getTime();
      new_element += for_code_text;
      new_element += "<input type='hidden' name='for_codes[" + new_id + "][url]', value='" + for_code + "'/>";
      new_element += "<input type='hidden' name='for_codes[" + new_id + "][name]', value='" + for_code_text + "'/>";
      new_element += "<a href='#' class='delete_for_code'>Delete</a>";
      new_element += "</li>";
      $('#for_codes_list').append(new_element);

      $('select#for_code_select_1').val("");
      $('select#for_code_select_2').html("<option value=''>Please select</option>");
      $('#second_level').hide();
      $('select#for_code_select_3').html("<option value=''>Please select</option>");
      $('#third_level').hide();

      return false;
    });

    $('.delete_for_code').live('click', function(){
      $(this).parent().remove();
      return false;
    });
  });
