
= form_for [@facility, @experiment] do |f|
  .rowform
    .formerror= render "shared/error_messages", :target => @experiment

  .rowform
    = f.label :parent_experiment_id, "Parent:"
    = required
    %span.input
      = f.collection_select :parent_experiment_id, @facility.experiments_excluding_me(@experiment), :id, :name_with_prefix, {:include_blank => "Facility - #{@facility.name}"}
  .rowform
    = f.label :name, "Name:"
    = required
    = f.text_field :name
  .rowform
    = f.label :description, "Description:"
    = f.text_area :description
  .rowform
    = f.label :start_date, "Start date:"
    = required
    = f.text_field :start_date, :datepicker => true
  .rowform
    = f.label :end_date, "End date:"
    = f.text_field :end_date, :datepicker => true
  .rowform
    = f.label :subject, "Subject:"
    = required
    = f.text_field :subject
    = label_tag :for_code_select_1, "FOR Code"
    = select_tag :for_code, options_for_select(for_codes), :prompt => "Please select", :id => :for_code_select_1
    = link_to "Add", "#", :id => :add_for_code_link
    #selected_for_codes
      %ul#selected_for_codes_list
  .actions
    .cancelbutton
      %span
      = link_to 'Cancel', (@experiment.new_record? ? @facility : facility_experiment_path(@facility, @experiment)), :class => "cancelbutton"
    = f.submit 'Save Experiment', :class => "floatright"

:javascript
  $(function(){
    $('#add_for_code_link').live('click', function(){
      var for_code = $('#for_code_select_1').val();
      var for_code_text = $('#for_code_select_1 option:selected').text();
      var new_element = "<li>";
      var new_id  = new Date().getTime();
      new_element += for_code_text;
      new_element += "<input type='hidden' name='for_codes[" + new_id + "][url]', value='" + for_code + "'/>";
      new_element += "<input type='hidden' name='for_codes[" + new_id + "][name]', value='" + for_code_text + "'/>";
      new_element += "</li>";
      $('#selected_for_codes_list').append(new_element);
      return false;
    });
  });
