
= form_for [@facility, @experiment] do |f|
  .formerror= render "shared/error_messages", :target => @experiment

  .rowform
    = f.label :name
    = f.text_field :name
    = required
  .rowform
    = f.label :description
    = f.text_area :description
  .rowform
    = f.label :start_date
    = f.text_field :start_date, :datepicker => true
    = required
  .rowform
    = f.label :end_date
    = f.text_field :end_date, :datepicker => true
  .rowform
    = f.label :subject
    = f.text_field :subject
    = required
  .actions
    .cancelbutton
      %span
      = link_to 'Cancel', (@experiment.new_record? ? @facility : facility_experiment_path(@facility, @experiment)), :class => "cancelbutton"
    = f.submit 'Save Experiment', :class => "floatright"
