.experiment.new.whitebutton
  = link_to 'New Experiment', new_facility_experiment_path(@facility)

- if experiments.empty?
  There are no experiments to display.
- else
  %table#experiments
    %tr
      %th.view View
      %th Name
      %th Parent
      %th Description

    - experiments.each do |experiment|
      %tr
        %td.view= link_to '', facility_experiment_path(@facility, experiment), :class => "view", :id => "view_#{experiment.id}"
        %td= experiment.name
        %td= experiment.parent_name
        %td= experiment.description
