.datacontroll
  .data-results
    .experiment.new.whitebutton.pull-right
      = link_to 'New Experiment', new_facility_experiment_path(@facility)

- if experiments.empty?
  There are no experiments to display.
- else
  %table#experiments
    %tr
      %th.view View
      %th.lastname Name
      %th.lastname Parent
      %th.description Description

    - experiments.each do |experiment|
      %tr
        %td.view= link_to '', facility_experiment_path(@facility, experiment), :class => "view", :id => "view_#{experiment.id}", :title => 'View'
        %td.lastname= experiment.name
        %td.lastname= experiment.parent_name
        %td.description= experiment.description
