.experiment.new.whitebutton
  = link_to 'New Experiment', new_facility_experiment_path(@facility)
%br/

- if experiments.empty?
  There are no experiments to display.
- else
  %table#experiments
    %tr
      %th.view View
      %th Name
      %th Description
      %th Start date
      %th End date
      %th Subject

    - experiments.each do |experiment|
      %tr
        %td.view= link_to '', facility_experiment_path(@facility, experiment), :class => "view", :id => "view_#{experiment.id}"
        %td= experiment.name
        %td= experiment.description
        %td= experiment.start_date.to_s(:date_only) if experiment.start_date
        %td= experiment.end_date.to_s(:date_only) if experiment.end_date
        %td= experiment.subject
