.form-actions
  .actions-pre
    .experiment.new.whitebutton.btn
      = link_to "New #{@config.level2.truncate(10)}", new_facility_experiment_path(@facility)
  %h2 #{@config.level2_plural}

- if experiments.empty?
  There are no #{@config.level2_plural.downcase} to display.
- else
  %table#experiments
    %tr
      %th.name Name
      %th.parent Parent
      %th.description Description

    - experiments.each do |experiment|
      %tr
        %td.name= link_to experiment.name, facility_experiment_path(@facility, experiment), :id => "view_#{experiment.id}", :title => experiment.name
        %td.parent{:title => experiment.parent_name}= experiment.parent_name
        %td.description{:title => experiment.description}= experiment.description
