.datacontroll
  .mapping.new.btn
    = link_to "Add Mapping", new_column_mapping_path


- content_for :breadcrumb do
  %h1 Admin / Column Mappings

- if @column_mappings.empty?
  %h3 No column mappings to display.
- else
  %table#column_mappings
    %tr
      %th.name Name
      %th.code Code
      %th.actions Actions
    - @column_mappings.each do |maps|
      %tr{:class => cycle('field_bg', 'field_nobg')}
        %td.name{:title => maps.name}= maps.name
        %td.code{:title => maps.code}= maps.code
        %td.actions
          = link_to '', maps, :method => :delete, :confirm => "Are you sure you want to delete this column mapping?", :id => "delete_#{maps.id}", :class => "delete", :title => "Delete"

