.container
  %h2 User log in
  .control-group
    .controls
      %strong Please enter your email and password to log in
  .control-group
    = f.label :email, "Email:", :class => "control-label"
    .controls
      = f.text_field :email
  .control-group
    = f.label :password, "Password:", :class => "control-label"
    .controls
      = f.password_field :password
  .form-actions
    .actions-pre
      = link_to "Sign Up", new_user_registration_path, :class => "btn"
    .actions
      = f.submit "Log in →", :class => ""
      = link_to "Forgot your password?", new_user_password_path, :class => "btn"
