.container
  %h3 Please enter your email and password to log in
  .control-group
    = f.label :email, "Email:"
    = f.text_field :email
  .control-group
    = f.label :password, "Password:"
    = f.password_field :password
  .form-actions
    .actions-pre
      = link_to "Sign Up", new_user_registration_path, :class => "whitebutton"
    .actions
      = f.submit "Log in →", :class => ""
      = link_to "Forgot your password?", new_user_password_path, :class => "whitebutton"
