.container
  %h2 Please enter your email and password to log in
  .rowform
    = f.label :email, "Email:"
    = f.text_field :email
  .rowform
    = f.label :password, "Password:"
    = f.password_field :password
  .actions
    = f.submit "Log in", :class => "floatright"
