- remove_all_warning = "Do you really want to remove #{@cart_items.size} files from your cart?"

- content_for :breadcrumb  do
  %h1 Cart / Edit Cart

- if @cart_items.empty?
  %h3 Your cart is empty.
- else

  .form-actions
    .actions-pre
      = cancel_button "Back", data_files_path
    .actions
      = link_to "Download", download_selected_data_files_path, :class => "btn btn-primary"
      = link_to "Package",  new_package_path, :class => "btn btn-primary"

  %h2.results
    Your cart 
    = @cart_items.size == 1 ? "Showing 1 file" : "contains #{@cart_items.size} files"
    for a 
    total of #{number_to_human_size(current_user.cart_size)}

  - @data_files = DataFile.find(@cart_items.map(&:data_file_id))
  %table#exploredata
    %tr
      %th.sortable.filename=  "Filename"
      %th.sortable.date=  "Date added"
      %th.sortable.size= "Size"
      %th.sortable.email=  "Added by"
      %th.sortable.type= "Type"
      %th.sortable.experiment=  "Experiment"
      %th.delete_cart
        = link_to 'Remove All',  destroy_all_cart_items_path, :class =>  "btn btn-danger", :confirm => remove_all_warning, :id => "remove_all_from_cart"
    - @cart_items.each do |cart_item|
      %tr{:class => cycle('field_bg', 'field_nobg')}
        - data_file = DataFile.find(cart_item.data_file_id)
        %td.filename= link_to truncate(data_file.filename, :length => 45), data_file_path(data_file)
        %td.date= data_file.created_at.to_s(:with_time)
        %td.size= number_to_human_size(data_file.file_size)
        %td.email= truncate(data_file.created_by.email, :length => 25) if data_file.created_by
        %td.type= data_file.file_processing_status
        %td.experiment= truncate(data_file.experiment_name, :length => 20)
        %td.delete_cart= link_to 'Remove', cart_item, :method => :delete, :class =>  "btn btn-danger", :id => "remove_from_cart_#{cart_item.id}"


.form-actions
  .actions-pre
    = cancel_button "Back", data_files_path
  .actions
    - unless @cart_items.empty?
      = link_to "Download", download_selected_data_files_path, :class => "bluebutton"
      = link_to "Package",  new_package_path, :class => "bluebutton"

