- remove_all_warning = "Do you really want to remove #{@cart_items.size} files from your cart?"
- content_for :breadcrumb  do
  Cart / Edit Cart

- if @cart_items.empty?
  %h3 Your cart is empty.
- else

  .form-actions
    .actions-pre
      - if session[:back].nil? or !session[:back].include? root_url
        = cancel_button "Back", data_files_path
      -else
        = cancel_button "Back", :back
    .actions
      = link_to "Download", download_selected_data_files_path, :class => "btn btn-primary"
      = link_to "Package",  new_package_path, :class => "btn btn-primary"

  %h2.results
    Your cart
    = @cart_items.size == 1 ? "Showing 1 file" : "contains #{@cart_items.size} files"
    for a
    total of #{number_to_human_size(current_user.cart_size)}

  %table#exploredata.cart
    %tr
      %th.sortable.filename=  "Filename"
      %th.sortable.date=  "Date added"
      %th.sortable.size= "Size"
      %th.sortable.email=  "Added by"
      %th.sortable.type= "Type"
      %th.sortable.experiment=  "#{@config.level2}"
      %th.delete_cart
        = link_to 'Remove All',  destroy_all_cart_items_path, :class =>  "btn btn-danger remove-all", :confirm => remove_all_warning, :id => "remove_all_from_cart"
    - @cart_items.each do |data_file|
      %tr{:class => cycle('field_bg', 'field_nobg')}
        -if data_file.is_authorised_for_access_by?(current_user)
          %td.filename{:title => data_file.filename}= link_to data_file.filename, data_file_path(data_file), :title => data_file.filename
        -else
          %td.filename{:title => data_file.filename}= data_file.filename
        %td.date{:title => data_file.created_at.to_s(:with_time)}= data_file.created_at.to_s(:with_time)
        %td.size{:title => number_to_human_size(data_file.file_size)}= number_to_human_size(data_file.file_size)
        %td.email{:title => data_file.uploader_email}= data_file.uploader_email if data_file.created_by
        %td.type{:title => data_file.file_processing_status}= data_file.file_processing_status
        %td.experiment{:title => data_file.experiment_name}= data_file.experiment_name
        %td.delete_cart= link_to 'Remove', cart_item_path(data_file), :method => :delete, :class =>  "btn btn-danger", :id => "remove_from_cart_#{data_file.id}"


.form-actions
  .actions-pre
    - if session[:back].nil? or !session[:back].include? root_url
      = cancel_button "Back", data_files_path
    -else
      = cancel_button "Back", :back
  .actions
    - unless @cart_items.empty?
      = link_to "Download", download_selected_data_files_path, :class => "btn btn-primary"
      = link_to "Package",  new_package_path, :class => "btn btn-primary"

