= form_for @line_item do |f|
  -if @line_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@line_item.errors.count, "error")} prohibited this line_item from being saved:"
      %ul
        - @line_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :data_file_id
    = f.number_field :data_file_id
  .field
    = f.label :cart_id
    = f.number_field :cart_id
  .actions
    = f.submit 'Save'
