- content_for :breadcrumb  do
  %h1 View / Edit Cart

- if @line_items.empty?
  %h3 Your cart is empty.
- else
  - @data_files = DataFile.find(@line_items.map(&:data_file_id))
  %table#exploredata.search
    %tr
      %th.sortable.filename= "Filename"
      %th.sortable.date=  "Date added"
      %th.sortable.size= "Size"
      %th.sortable.email=  "Added by"
      %th.sortable.type= "Type"
      %th.sortable.experiment=  "Experiment"
      %th.delete_cart
        = link_to 'Remove All',  destroy_all_line_items_path, :class =>  "bluebutton"
    - @line_items.each do |line_item|
      %tr{:class => cycle('field_bg', 'field_nobg')}
        - data_file = DataFile.find(line_item.data_file_id)
        %td.filename= link_to data_file.filename, data_file_path(data_file)
        %td.date= data_file.created_at.to_s(:with_time)
        %td.size= number_to_human_size(data_file.file_size)
        %td.email= data_file.created_by.email if data_file.created_by
        %td.type= data_file.status_as_string
        %td.experiment= data_file.experiment_name
        %td.delete_cart= link_to 'Remove', line_item, :method => :delete, :class =>  "bluebutton"




