#header
  = render 'layouts/messages'
  #header_wrapper
    .container
      .logo
        = link_to root_path, :id => :owner_logo_container do
          DC.21
        -#= t('app_name')
      .menu
        = tabs_tag(:builder => MenuTabBuilder) do |tab|
          - if !user_signed_in?
          - else
            = tab.home '', root_url, :id => "home"
          = tab.about 'About', root_url
          - if !user_signed_in?
            = tab.login 'Log in', root_url
            = tab.signup "Sign Up", new_user_registration_path, :class => "signup"
          - else
            = tab.login 'Admin', users_path
            %input#headersearch{:name => "headersearch", :placeholder => "Search...", :type => "text"}
              = tab.search '', root_url, :id => "search"
              = tabs_tag(:builder => AccountTabBuilder) do |tab|
                = tab.editaccount current_user.email, :id => "accountmenu"
              #accountmenu_container
                %ul
                  %li= link_to "Settings", edit_user_registration_path
                  %li= link_to "Sign out", destroy_user_session_path
