#header
  = render 'layouts/messages'
  #header_wrapper
    .container
      .logo
        = link_to root_path, :id => :owner_logo_container do
          %strong=@config.name
      .menu
        = tabs_tag(:builder => MenuTabBuilder) do |tab|
          - if !user_signed_in?
            - if @aaf_credentials[:email].present?
              = tab.login 'Log in', new_user_session_path
              = tab.aaf_login "#{@aaf_credentials[:email]} (via AAF)", root_url, id: "aaf_small"
            - else
              = tab.login 'Log in', new_user_session_path
              = tab.aaf_login 'Log in via AAF', users_aaf_sign_in_url, id: "aaf_small"
            = tab.signup "Sign Up", new_user_registration_path, id: "signup"
          - else
            = tab.home '', root_url, :id => "home"
            - if can?(:read, User)
              = tab.admin 'Admin', users_path
            = tabs_tag(:builder => AccountTabBuilder) do |tab|
              = tab.account current_user.email, :id => "accountmenu"
            #accountmenu_container
              %ul
                %li.settings= link_to "Settings", users_profile_path
                %li.signout= link_to "â† Sign out", current_user.aaf_logged_in?(@aaf_credentials[:email]) ? users_aaf_sign_out_path : destroy_user_session_path

