%title
  - if content_for?(:breadcrumb)
    = @config.name + ' - ' + yield(:breadcrumb)
  - else
    = @config.name

= stylesheet_link_tag "application"
= javascript_include_tag "application"
= csrf_meta_tag
<!--[if lt IE 7]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE7.js"></script>
<![endif]-->
= analytics_init if Rails.env.production?
