!!!
/[if gt IE 9]
  %html
/[if IE 9]
  %html.ie9
/[if IE 8]
  %html.ie8
/[if IE 7]
  %html.ie7

%head
  = render 'layouts/head'
%body
  #content_wrapper
    = render 'layouts/banner'
    #content
      - if content_for?(:breadcrumb)
        %h1{title: yield(:breadcrumb)}= yield :breadcrumb
      #content_container
        .contentnavigation
          = tabs_tag(:builder => MenuTabBuilder, :namespace => :contentnavigation) do |tab|
            = tab.users 'Users', users_path, :id => "users_tab"
            = tab.accessrequests 'Access Requests', access_requests_users_path, :id => "requests_tab"
            = tab.columnmappings 'Column Mappings', column_mappings_path, :id => "mappings_tab"
            = tab.resque 'Resque', landing_resque_index_path, :id => "resque_tab"
            = tab.systemconfig 'System Configuration', admin_config_path, :id => "config_tab"
            = tab.dashboard 'Dashboard Contents', edit_admin_dashboard_path, :id => "dashboard_tab"
            = yield :actions
        = yield
  = render 'layouts/footer'

