<!DOCTYPE html>
<html>
  <head>
    <title>Dc21app - <%= yield :title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div id="content_wrapper">

      <div id="header">

        <% if alert %>
          <div id="alert" style="display:none"><%= alert %></div>
        <% end %>

        <% if notice %>
          <div id="notice" style="display:none"><%= notice %></div>
        <% end %>
        <div id="header_wrapper">
          <div class="container">
            <div class="logo">DC.21</div>
            <div class="menu">
              <%= tabs_tag(:builder => MenuTabBuilder) do |tab| %>
                <%= tab.home '', root_url, :id => "home" %>
                <%= tab.about 'About', about_pages_path %>
                <% if !user_signed_in? %><% else %><%= tab.admin 'Admin', users_path %><% end %>
                <% if !user_signed_in? %>
                  <%= tab.signup "Sign Up", new_user_registration_path, :class => "signup" %>
                <% else %>
                  <input type="text" name="headersearch" id="headersearch" placeholder="Search...">
                  <%= tab.search '', root_url, :id => "search" %>
                  <%= tabs_tag(:builder => AccountTabBuilder) do |tab| %>
                    <%= tab.editaccount current_user.email, :id => "accountmenu" %>
                  <% end %>
                  <div id="accountmenu_container">
                    <ul>
                      <li><%= link_to "Settings", edit_user_registration_path %></li>
                      <li><%= link_to "Sign out", destroy_user_session_path %></li>
                    </ul>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div id="content">
        <h1><%= yield :title %></h1>
        <%= yield %>
      </div>

    </div>

    <div id="footer"><a target="_about" href="http://www.intersect.org.au/attribution-policy" class="logo"></a>Developed by Intersect Australia Ltd</div>

  </body>
</html>
