<!DOCTYPE html>
<html>
<head>
  <title>Dc21app - <%= yield :title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="content_wrapper">

  <% if alert %>
      <div class="alert" style="display:none"><%= alert %></div>
  <% end %>

  <% if notice %>
      <div class="notice" style="display:none"><%= notice %></div>
  <% end %>

  <div id="header">
    <div class="container">
      <div class="logo">Logo</div>
      <div class="menu">
        <%= tabs_tag(:builder => MenuTabBuilder) do |tab| %>
            <%= tab.home 'Home', root_url %>
            <%= tab.about 'About', root_url %>            <% if user_signed_in? %>
              <%= tab.admin 'Admin', admin_users_path %>
              <%= tab.editaccount current_user.email, users_profile_path, :class => "user" %>
              <%= tab.logout "Logout", destroy_user_session_path, :class => "logout" %>
            <% else %>
              <%= tab.signup "Sign Up", new_user_registration_path, :class => "signup" %>
            <% end %>


        <% end %>
      </div>
    </div>
  </div>

  <div id='content'>
<h1><%= yield :title %></h1>

    <%= yield %>
  </div>

</div>

<div id="footer"><a target="_about" href="http://www.intersect.org.au/attribution-policy" class="logo"></a>Developed by
  Intersect Australia Ltd
</div>



</body>
</html>
