!!!
%html
  %head
    = render 'layouts/head'
  %body
    #content_wrapper
      = render 'layouts/banner'
      #content
        - if content_for?(:breadcrumb)
          = yield :breadcrumb
        #content_container
          = yield
    = render 'layouts/footer'

