!!!
/[if gt IE 9]
  %html
/[if IE 9]
  %html.ie9
/[if IE 8]
  %html.ie8
/[if IE 7]
  %html.ie7
- @cart_items = current_user.cart_items
- remove_all_warning = "Do you really want to remove all files from your cart?"

:javascript
  window.cart_size = #{current_user.cart_size};

%head
  = render 'layouts/head'
%body
  #content_wrapper
    = render 'layouts/banner'
    #content
      #menu
      - if content_for? :pageactions
        =yield :pageactions
      - else
        .pageactions
          = link_to "Upload", new_data_file_path, :id => "newdataentry", :class => "bluebutton"
      .btn-group.pull-right.dropdown
        %a#drop3.btn.dropdown-toggle{"data-toggle" => @cart_items.size > 0 ? 'dropdown' : 'dropdown disabled', :href => '#', :role => "button"}
          -if @cart_items.size == 1
            %b 1 File in Cart
            ( #{number_to_human_size(current_user.cart_size)} )
          -else
            %b #{@cart_items.size} Files in Cart
            ( #{number_to_human_size(current_user.cart_size)} )
          %span.caret
        %ul#cart-actions.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
          %li
            =link_to "Download",  download_selected_data_files_path, :id => "cart_download"
          %li
            =link_to "Package", new_package_path, :id => "cart_package"
          %li
            =link_to "Clear cart",  destroy_all_cart_items_path, :id => "cart_clear", :confirm => remove_all_warning
          %li
            =link_to "Edit cart",  cart_items_path, :id => "cart_edit"

      - if content_for?(:breadcrumb)
        = yield :breadcrumb


      #content_container
        .contentnavigation
          = tabs_tag(:builder => MenuTabBuilder, :namespace => :contentnavigation) do |tab|
            = tab.dashboard 'Dashboard', home_pages_path, :id => "dashboard"
            = tab.explore 'Explore Data', data_files_path, :id => "data"
            = tab.facilities 'Facilities', facilities_path, :id => "facilities"
            = yield :actions


        = yield
  = render 'layouts/footer'

