!!!
/[if gt IE 8]
  %html
/[if IE 8]
  %html.ie8
/[if IE 7]
  %html.ie7
%head
  = render 'layouts/head'
%body
  #content_wrapper
    = render 'layouts/banner'
    #content
      #menu
      - if content_for? :pageactions
        =yield :pageactions
      - else
        .pageactions
          = link_to "Upload", new_data_file_path, :id => "newdataentry", :class => "bluebutton"
      - if content_for?(:breadcrumb)
        = yield :breadcrumb

      %div{:class => 'btn-group'}
        %a#drop3{:class => "btn dropdown-toggle", "data-toggle" => 'dropdown', :href => '#', :role => "button"}
          -if current_user.line_items.count == 1
            1 file in cart
          -else
            #{current_user.line_items.count} files in cart
          %span.caret
        %ul.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
          %li.divider
            =link_to "Download",  download_selected_data_files_path, :class => "whitebutton"
          %li.divider
            =link_to "Package",  package_selected_data_files_path, :class => "whitebutton"
          %li.divider
            =link_to "Clear cart",  destroy_all_line_items_path, :class => "whitebutton"
          %li.divider
            =link_to "Edit cart",  line_items_path, :class => "whitebutton"

      #content_container
        .contentnavigation
          = tabs_tag(:builder => MenuTabBuilder, :namespace => :contentnavigation) do |tab|
            = tab.dashboard 'Dashboard', home_pages_path, :id => "dashboard"
            = tab.explore 'Explore Data', data_files_path, :id => "data"
            = tab.facilities 'Facilities', facilities_path, :id => "facilities"
            = yield :actions







          -#l.nav.pull-right
            %li#fat-menu.dropdown
              %a#drop3.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
                -if current_user.line_items.count == 1
                  1 file in cart
                -else
                  #{current_user.line_items.count} files in cart
                %b.caret
                  %ul.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
                    %li.divider
                      =link_to "Download",  download_selected_data_files_path
                    %li.divider
                      =link_to "Package",  package_selected_data_files_path
                    %li.divider
                      =link_to "Clear cart",  destroy_all_line_items_path
                    %li.divider
                      =link_to "Edit cart",  line_items_path

        = yield
  = render 'layouts/footer'

