!!!
%html
  %head
    = render 'layouts/head'
  %body
    #content_wrapper
      = render 'layouts/banner'
      #content
        - if content_for? :pageactions
          =yield :pageactions
        - else
          .pageactions
            = link_to "+ New Data Entry", new_data_file_path, :id => "newdataentry", :class => "bluebutton"
        - if content_for?(:breadcrumb)
          = yield :breadcrumb
        #content_container
          .contentnavigation
            = tabs_tag(:builder => MenuTabBuilder, :namespace => :contentnavigation) do |tab|
              = tab.dashboard 'Dashboard', home_pages_path, :id => "dashboard"
              = tab.explore 'Explore Data', data_files_path, :id => "data"
              = tab.facilities 'Facilities', facilities_path, :id => "facilities"
              = yield :actions
          = yield
    = render 'layouts/footer'

