!!!
/[if gt IE 8]
  %html
/[if IE 8]
  %html.ie8
/[if IE 7]
  %html.ie7
- @cart_items = current_user.cart_items
- remove_all_warning = "Do you really want to remove #{@cart_items.size} files from your cart?"

%head
  = render 'layouts/head'
%body
  #content_wrapper
    = render 'layouts/banner'
    #content
      #menu
      - if content_for? :pageactions
        =yield :pageactions
      - else
        .pageactions
          = link_to "Upload", new_data_file_path, :id => "newdataentry", :class => "bluebutton"
      .btn-group.pull-right.dropdown
        %a#drop3.btn.dropdown-toggle{"data-toggle" => @cart_items.size > 0 ? 'dropdown' : 'dropdown disabled', :href => '#', :role => "button"}
          -if @cart_items.size == 1
            1 File in Cart
          -else
            #{@cart_items.size} Files in Cart
          %span.caret
        %ul#cart-actions.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
          %li
            =link_to "Download",  download_selected_data_files_path, :id => "cart_download"
          %li
            =link_to "Package",  package_selected_data_files_path, :id => "cart_package"
          %li
            =link_to "Clear cart",  destroy_all_cart_items_path, :id => "cart_clear"
          %li
            =link_to "Edit cart",  cart_items_path, :id => "cart_edit"

      - if content_for?(:breadcrumb)
        = yield :breadcrumb


      #content_container
        .contentnavigation
          = tabs_tag(:builder => MenuTabBuilder, :namespace => :contentnavigation) do |tab|
            = tab.dashboard 'Dashboard', home_pages_path, :id => "dashboard"
            = tab.explore 'Explore Data', data_files_path, :id => "data"
            = tab.facilities 'Facilities', facilities_path, :id => "facilities"
            = yield :actions







          -#l.nav.pull-right
            %li#fat-menu.dropdown
              %a#drop3.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :role => "button"}
                -if current_user.cart_items.count == 1
                  1 file in cart
                -else
                  #{current_user.cart_items.count} files in cart
                %b.caret
                  %ul.dropdown-menu{"aria-labelledby" => "drop3", :role => "menu"}
                    %li.divider
                      =link_to "Download",  download_selected_data_files_path
                    %li.divider
                      =link_to "Package",  package_selected_data_files_path
                    %li.divider
                      =link_to "Clear cart",  destroy_all_line_items_path
                    %li.divider
                      =link_to "Edit cart",  line_items_path

        = yield
  = render 'layouts/footer'

